<div layout="row" layout-sm="column">
  <div flex>
    <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
      <md-grid-tile ng-repeat="tile in colorTiles" md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}" md-colspan-sm="1" ng-style="{'background': tile.color}">
        <md-grid-tile-header><h3>{{tile.title}}</h3></md-grid-tile-header>
        <md-icon md-font-icon="{{tile.image}}" class="fa"></md-icon>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>

<div layout="row" layout-sm="column">
  <div flex>
    <md-data-table-toolbar>
      <h2 class="md-title">Users</h2>
    </md-data-table-toolbar>

    <md-data-table-container>
      <table md-data-table md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order" md-trigger="onOrderChange">
        <tr>
          <th name="ID" order-by="id"></th>
          <th name="Surname"></th>
          <th name="Name" order-by="name"></th>
          <th name="Address" order-by=""></th>
          <th name="Telephone" order-by=""></th>
        </tr>
        </thead>
        <tbody>
        <tr md-auto-select ng-repeat="list in listEntries">
          <td>{{list.id}}</td>
          <td>{{list.surname}}</td>
          <td>{{list.name}}</td>
          <td>{{list.address}}</td>
          <td>{{list.phone}}</td>
        </tr>
        </tbody>
      </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{query.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>
  </div>
</div>
